$bg-principal: #ccc;
$tamanho-tile: 20px;

body{
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
}
body > *:not(script):not(div){
  display: flex;
  height: 100%
}

.scene{
  margin: 5px;
  padding: 10px;
  background-color: $bg-principal;
  flex: 1;
  overflow: hidden
}

.p1{
  background: url(/src/img/p1.png);
  width: 40px !important;
  height: 95px !important;
  -webkit-transform: rotate(32deg) rotateY(140deg);
  transform: rotate(-10deg) rotateY(193deg) translate3d(-210px,180px,10px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-position: -400px -130;
}

.cube .top:hover{
  background: rgba(47, 255, 3, 0.28);
}
.cube .top:hover .effect{
  display: none;
}

.cube figure{
  display: block;
  position: absolute;
  width: 40px;
  height: 20px;
  line-height: 196px;
}

.cube figure.top, .cube figure.bottom {
  display: block;
  position: absolute;
  width: 40px;
  height: 41px !important;
  line-height: 196px;
}

figure{
  margin: 0;
}


.cube .front{
  -webkit-transform: translateZ( $tamanho-tile );
  -moz-transform: translateZ( $tamanho-tile );
  -o-transform: translateZ( $tamanho-tile );
  transform: translateZ( $tamanho-tile );
  background: url("/src/img/tiles.png");
  background-position: 0px -110px;
  background-size: 300px;
}

.cube .back{
  -webkit-transform: rotateX( -180deg ) translateZ( $tamanho-tile );
  -moz-transform: rotateX( -180deg ) translateZ( $tamanho-tile );
  -o-transform: rotateX( -180deg ) translateZ( $tamanho-tile );
  transform: rotateX( -180deg ) translateZ( $tamanho-tile );
  background: yellow;
}

.effect{
  transform: rotateY(-24deg) rotateX(20deg) rotate(21deg) translate(2px,-8px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: url(/src/img/grass-effect.png);
  background-repeat: no-repeat;
  height: 40px !important;
  background-position: 0px;
  background-size: 38px;
}

@keyframes toast-key1 {
  0% {
    bottom: -70px;
    opacity: 0;
  }
  50%{
    opacity: .3;
  }
  100%{
    bottom: 20px;
    opacity: 1;
  }
}
@keyframes toast-key2 {
  0% {
    bottom: -70px;
    opacity: 0;
  }
  50%{
    opacity: .3;
  }
  100%{
    bottom: 90px;
    opacity: 1;
  }
}
@keyframes toast-key3 {
  0% {
    bottom: -70px;
    opacity: 0;
  }
  50%{
    opacity: .3;
  }
  100%{
    bottom: 90px;
    opacity: 1;
  }
}

@keyframes toast-key4 {
  0% {
    bottom: -70px;
    opacity: 0;
  }
  50%{
    opacity: .3;
  }
  100%{
    bottom: 90px;
    opacity: 1;
  }
}

@keyframes toast-key5 {
  0% {
    bottom: -70px;
    opacity: 0;
  }
  50%{
    opacity: .3;
  }
  100%{
    bottom: 90px;
    opacity: 1;
  }
}

.toast{
  background-color: rgba(0,0,0,.4);
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  padding: 5px;
  width: 250px;
  height: 60px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.toast:nth-child(1){
  animation: toast-key1 .1s ease-out;
  bottom: 20px;
}
.toast:nth-child(2){
  animation: toast-key2 .1s ease-out;
  bottom: 90px;
}
.toast:nth-child(3){
  animation: toast-key3 .1s ease-out;
  bottom: 160px;
}
.toast:nth-child(4){
  animation: toast-key4 .1s ease-out;
  bottom: 230px;
}
.toast:nth-child(5){
  animation: toast-key5 .1s ease-out;
  bottom: 300px;
}

.toast.default{
  background-color: rgba(255,255,255,.4);
  color: black;
}

.toast.success{
  background-color: rgba(0,200,0,.4);
  color: black;
}


.cube .right{
  -webkit-transform: rotateY( 90deg ) translateZ( $tamanho-tile );
  -moz-transform: rotateY( 90deg ) translateZ( $tamanho-tile );
  -o-transform: rotateY( 90deg ) translateZ( $tamanho-tile );
  transform: rotateY( 90deg ) translateZ( $tamanho-tile );
  background: green;
}

.cube .left{
  -webkit-transform: rotateY( -90deg ) translateZ( $tamanho-tile );
  -moz-transform: rotateY( -90deg ) translateZ( $tamanho-tile );
  -o-transform: rotateY( -90deg ) translateZ( $tamanho-tile );
  transform: rotateY( -90deg ) translateZ( $tamanho-tile );
  background: url("/src/img/tiles.png");
  background-position: 0px -55px;
  background-size: 300px;
}

.cube .top{
  -webkit-transform: rotateX( 90deg ) translateZ( $tamanho-tile );
  -moz-transform: rotateX( 90deg ) translateZ( $tamanho-tile );
  -o-transform: rotateX( 90deg ) translateZ( $tamanho-tile );
  transform: rotateX( 90deg ) translateZ( $tamanho-tile );
  background: url("/src/img/tiles.png");
  background-position: 0px 0px;
  background-size: 300px;
}

.cube .bottom{
  -webkit-transform: rotateX( -90deg );
  -moz-transform: rotateX( -90deg );
  -o-transform: rotateX( -90deg );
  transform: rotateX( -90deg );
  background: #000000;
}


#cube{
  transform-style: preserve-3d;
  transform: translateZ( -355px ) rotateX( -25deg ) rotateY( 37deg );
}

.row-1{
  transform: translate3d(0px,0px,0px);
  transform-style: preserve-3d;
}
.row-2{
  transform: translate3d(40px,0px,0px);
  transform-style: preserve-3d;
}
.row-3{
  transform: translate3d(80px,0px,0px);
  transform-style: preserve-3d;
}
.row-4{
  transform: translate3d(120px,0px,0px);
  transform-style: preserve-3d;
}
.row-5{
  transform: translate3d(160px,0px,0px);
  transform-style: preserve-3d;
}
.row-6{
  transform: translate3d(200px,0px,0px);
  transform-style: preserve-3d;
}
.row-7{
  transform: translate3d(240px,0px,0px);
  transform-style: preserve-3d;
}
.row-8{
  transform: translate3d(280px,0px,0px);
  transform-style: preserve-3d;
}
.row-9{
  transform: translate3d(320px,0px,0px);
  transform-style: preserve-3d;
}
.row-10{
  transform: translate3d(360px,0px,0px);
  transform-style: preserve-3d;
}
.row-11{
  transform: translate3d(400px,0px,0px);
  transform-style: preserve-3d;
}
.row-12{
  transform: translate3d(440px,0px,0px);
  transform-style: preserve-3d;
}
.row-13{
  transform: translate3d(480px,0px,0px);
  transform-style: preserve-3d;
}
.row-14{
  transform: translate3d(520px,0px,0px);
  transform-style: preserve-3d;
}
.row-15{
  transform: translate3d(560px,0px,0px);
  transform-style: preserve-3d;
}
.row-16{
  transform: translate3d(600px,0px,0px);
  transform-style: preserve-3d;
}
.row-17{
  transform: translate3d(640px,0px,0px);
  transform-style: preserve-3d;
}
.row-18{
  transform: translate3d(680px,0px,0px);
  transform-style: preserve-3d;
}
.row-19{
  transform: translate3d(720px,0px,0px);
  transform-style: preserve-3d;
}
.row-20{
  transform: translate3d(760px,0px,0px);
  transform-style: preserve-3d;
}
.row-21{
  transform: translate3d(800px,0px,0px);
  transform-style: preserve-3d;
}

.col-1{
  transform: translate3d(0px,0px,0px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-2{
  transform: translate3d(0px,0px,40px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-3{
  transform: translate3d(0px,0px,80px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-4{
  transform: translate3d(0px,0px,120px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-5{
  transform: translate3d(0px,0px,160px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-6{
  transform: translate3d(0px,0px,200px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-7{
  transform: translate3d(0px,0px,240px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-8{
  transform: translate3d(0px,0px,280px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-9{
  transform: translate3d(0px,0px,320px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-10{
  transform: translate3d(0px,0px,360px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-11{
  transform: translate3d(0px,0px,400px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-12{
  transform: translate3d(0px,0px,440px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-13{
  transform: translate3d(0px,0px,480px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-14{
  transform: translate3d(0px,0px,520px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-15{
  transform: translate3d(0px,0px,560px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-16{
  transform: translate3d(0px,0px,600px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-17{
  transform: translate3d(0px,0px,640px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-18{
  transform: translate3d(0px,0px,680px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-19{
  transform: translate3d(0px,0px,720px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-20{
  transform: translate3d(0px,0px,760px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}
.col-21{
  transform: translate3d(0px,0px,800px);
  transform-style: preserve-3d;
  display: -moz-inline-box;
  display: -webkit-inline-box;
  display: -o-inline-box;
}